.botao {
    background-color: #6278F7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #FFFFFF;
    padding: 1.8125rem;
    border: none;
    cursor: pointer;
}

.botao:hover {
    color: #95FFD4;
}